body{
    margin: 0;
    padding: 0;

    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login{
    width:420px;
    height: 480px;
    background-color: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 120px 30px;
}
.logo{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: calc(47% - 47px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 25px;
    text-align: center;
    font-family: ;
}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="submit"]{
border: none;
outline: none;
height: 40px;
color: #000;
font-size: 18px;
background-color: orange;
border-radius: 15px;
width: 220px;
margin-left: 65px;
margin-bottom: 550px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.submit{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    
}
a.btn{
    text-decoration: none;
    background: #ffc107;
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 15px;
    color: rgb(39, 38, 38);
    transition: .3s;
    font-size: 18px;
    margin-top: 40px;
    
    
}
a.btn:hover{
   background-color: orange;
    color: #ffc107;
   
}
.inputBox{
position: relative;
width: 260px;

}
.container{
    margin-left: 45px;
}
.inputBox label{
    font-size: 12px;
    margin-bottom: 5px;
}